.container-lista-produse {
	//border: 3px solid grey;
	//max-width: 640px;	
}

p.descriere-lista-produse{
		display: inline-block;
		vertical-align: top;
		width: 46%;
}

img.poza-lista-produse{
		display: inline-block;
		width: 20%;
		border-radius: 15%;
		@media (max-width: 50px){
			width: 100%;
		}
}