@media only screen and (min-width: 768px) {
	.img-banner {
		display: block;
		width: 100%;

		padding-bottom: 30px;
	}

	.wrapper {
		width: 600px;
		margin: 0 auto;
	}

	.main-content h2 {
		padding: 20px 0px 0px;
	}

	.main-content p {
		padding: 20px 0px 0px;
	}

	.img-me {
		padding-top: 30px;
	}
}
