<header>
	<nav class="wrapper">
		<ul class="menu">
			<li><a href="#">B1</a></li>
			<li>
				<div>B2</div>
				<ul class="submenu">
					<li><a href="#">B2-SB1</a></li>
					<li><a href="#">B2-SB2</a></li>
				</ul>
			</li>
			<li>
				<div>B3</div>
				<ul class="submenu">
					<li><a href="#">B3-SB1</a></li>
					<li><a href="#">B3-SB2</a></li>
				</ul>
			</li>
			<li><a href="/test">test1</a></li>
			<li><a href="#">B5</a></li>
			<li><a href="#">B6</a></li>
			<li><a href="#">B7</a></li>
			<li><a href="#">B8</a></li>
		</ul>
	</nav>
</header>