@media only screen and (min-width: 1000px) {
	#banner {
		animation-name: translatiec;
		animation-iteration-count: 1;
		animation-duration: 5s;
		animation-fill-mode: forwards;
		animation-timing-function: linear;
		text-align: center;
		height: 2em;
		width: 100%;
		border-style: solid;
		background: red;
		border-color: yellow;
		position: relative;
		bottom: 0;
		border-width: 5px;
	}

	@keyframes translatiec{
		0%{
			transform: translateX(-100%);
		}

		50%{
			background: yellow;
			border-color: red;
		}
		80%{
			background: red;
			border-color: yellow;
			transform: translateX(-1%);
		}
		99.99%{
			opacity: 1.0;
		}
		100%{
			opacity: 0;
			transform: translateX(-1%);
		}
	}
}

@media only screen and (max-width: 999px) {
	#banner {
		text-align: center;
		height: 2em;
		width: 100%;
		border-style: solid;
		background: red;
		border-color: yellow;
		position: relative;
		bottom: 0;
		border-width: 5px;
	}
}