* {
	margin: 0;
	padding: 0;
	background: darkslategrey;
	color: linen;
}

.wrapper {
	width: 100%;
}

tr:nth-child(2n + 1)>td:not([colspan]) {background-color: slategrey;}

i{
	background-color: transparent;
}

tr:hover>td:not([colspan]) {
    color: #fff;
    background-color: #000;
}

tr:hover td {
    background-color: transparent;
}


th,td{
            border:1px solid black;
            padding:5px;
            text-align: center;

        }
        td:empty{
            padding:20px;
        }
        table{
            border-collapse:collapse;
            empty-cells:show;
        }


.img-banner {
	display: none;
}

.main-content {
	width:  100%;
}

.main-content h1, .main-content h2, .main-content h3 {
	padding: 30px 30px 20px;
	font-family: arial;
	/*color: #111;*/
}

.main-content p {
	padding: 0px 30px 20px;
	font-family: arial;
	/*font-size: 16px;*/
	/*color: #111;*/
	/*line-height: 24px; */
}

.main-content ol{
	padding: 0px 30px 20px;
	font-family: arial;
	/*color: #111;*/
}

.main-content ul{
	padding: 0px 30px 20px;
	font-family: arial;
	/*color: #111;*/
}

.img-me {
	width: 100%;
}

/*@media only screen and (min-width: 768px) {
	/*.img-banner {
		display: block;
		width: 100%;
		padding-bottom: 30px;
	}*/

	/*.wrapper {
		width: 600px;
		margin: 0 auto; <-- COPIEDe
	}*/

	/*.main-content h2 {
		padding: 20px 0px 0px;	<-- OVERWRITTEN	
	}*/

	/*.main-content p {
		padding: 20px 0px 0px;	<-- OVERWRITTEN	
	}*/

	/*.img-me {
		padding-top: 30px;	<-- OVERWRITTEN	
	}
}*/


@media only screen and (min-width: 1000px) {

	.img-banner {
		display: block;
		width: 100%;
		padding-bottom: 30px;
	}

	.wrapper {
		width: 1000px;
		margin: 0 auto;
	}

	.main-content {
		width: 100%;
	}


	.main-content h2 {
		padding: 20px 0px 0px 30px;
	}

	.main-content p {
		padding: 20px 0px 30px;
	}

	.img-me {
		display: block;
		margin-left: auto;
		margin-right: auto;
		padding-top: 0px;
	}

	h1{
		font-size: 2.25em;
	}

	h2{
		font-size: 1.5em;
	}

	h3{
		font-size: 1.2em;
	}

	p{
		font-size: 1em;
	}
}

video {
  width: 100%;
  height: auto;
}

