<!doctype html>
<html>
<head>
	<%- include("../fragmente/head.ejs") %>
	<title>Test</title>
</head>
<body>

<%- include("../fragmente/header.ejs") %>
abc
<main>
	<h2>Happy</h2>
	<p class="text">hjklekrfbnkfkfbenwfn mw,m ene ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva ceva </p>
	<figure class="img-wrap">
		<img alt="robots image" class="responsive" src="http://image.shutterstock.com/display_pic_with_logo/285580/105987983/stock-vector-illustration-of-best-friends-ever-cat-and-dog-105987983.jpg" >
		<figcaption>Miau Ham</figcaption>
	</figure>
</main>
<%- include("../fragmente/footer.ejs") %>
</body>
</html>